// Variables
$mainBg = #6bc6b4
$primaryColor = #fff
$font = Helvetica,Arial,'Sans serif'

@import 'nib';
@import './components/Board';
@import './components/GridItem';

ul, ol, h1, h2, h3, p
    margin 0
    padding 0

body
    background $mainBg
    font-family $font
    padding 40px
    
h2
    font-weight normal
    margin-bottom 30px
    color $primaryColor
    
.AppRoute
    display flex
    flex-direction column
    align-items center
    
.btn-primary
    padding 10px 40px
    border-radius 25px
    color $primaryColor
    border 2px solid $primaryColor
    background none
    font-size 18px
    outline 0
    cursor pointer